<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Ferret Tracker</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav class="navbar navbar-default" id="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/ferrets">Ferret Tracker</a>
        <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><a href="/ferrets">My Ferrets</a></li>
              <li><a href="/ferrets/add_ferret">Create Ferret</a></li>
              <li><a href="/logout">Log Out</a></li>
            <% else %>
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/login">Log In</a></li>
            <%end %>
        </ul>
    </div>
  </nav>
  <div class="wrapper">

      <%= yield %>

    <footer class="branding center">
      <small>&copy; 2016 <strong>Ferret Tracker,</strong> developed with &#128153; by Sandy Hogan</small>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>
